@model IEnumerable<AutenticacionVehiculos.Models.Vehiculo>

@{
    ViewBag.Title = "Vehiculos";
}

<h2>Vehiculos</h2>

<button type="button" id="btnAddVehiculo" class="btn btn-default">
    <span class="glyphicon glyphicon-plus-sign"></span>
</button>

<form role="search" style="width: 15em; margin: 1.3em 0em;">
    <div class="input-group">
        <label for="ddlTipoBusqueda">Tipo de vehiculo:</label>
        <div class="input-group-btn">
            <select class="selectpicker" id="ddlTipoBusqueda">
                <option value="1" selected="selected">Matricula</option>
                <option value="2">Marca</option>
            </select>
        </div>
    </div>
    <div class="input-group">
        <input type="text" id="txtBusqueda" class="form-control" placeholder="Buscar">
        <div class="input-group-btn">
            <button type="button" id="btnBusqueda" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>
</form>

<div id="contenido">
    @Html.Partial("_listadoVehiculos", Model)
</div>

<!-- Modal Añadir-->
<div class="modal fade" id="divAdd">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="divAddLabel">Nuevo vehiculo</h4>
            </div>
            <div class="modal-body">
                <div>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="txtMatricula" class="col-lg-2 control-label">Matricula</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="txtMatricula" placeholder="Ejemplo: 9124GJL">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtMarca" class="col-lg-2 control-label">Marca</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="txtMarca" placeholder="Ejemplo: Accord">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtModelo" class="col-lg-2 control-label">Modelo</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="txtModelo" placeholder="Ejemplo: Honda">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtCoste" class="col-lg-2 control-label">Coste</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="txtCoste" placeholder="Ejemplo: 20000">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnGuardar" data-dismiss="modal">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

@section JS{
    <script>
        var tipo=@ViewBag.idTipo;
        function buscar() {
            var txt = $("#txtBusqueda").val();
            var tipoVehiculo = $("#ddlTipoBusqueda").val();
            var url = "@Url.Action("BuscarVehiculo")" + "?idTipo=" + tipo + "&campo=" + tipoVehiculo + "&contenido=" + txt;
            $("#contenido").load(encodeURI(url));
        }

        function alta() {
            var obj = {
                matricula: $("#txtMatricula").val(),
                marca: $("#txtMarca").val(),
                modelo: $("#txtModelo").val(),
                coste: $("#txtCoste").val(),
                idTipo: tipo
            }
            var objTxt = JSON.stringify(obj);
            var url = "@Url.Action("AltaVehiculo")";
            $.ajax({
                url: url,
                data: objTxt,
                type: "POST",
                headers: { "Content-Type": "application/json" },
                dataType: "json",
                success: function (res) {
                    $("$divAlta").modal("hide");
                    if (res.idVehiculo != 0) {
                        $("#txtBusqueda").val("");
                        buscar();
                    } else {
                        alert("Error al guardar");
                    }
                }
            });
        }
        $("#btnBusqueda").click(buscar);
        $("#btnGuardar").click(alta);
        $("#btnAddVehiculo").click(function() {
            $("#divAdd").modal("toggle");
        });
    </script>
}
